# Test Complete ignore files: https://support.smartbear.com/viewarticle/68002/

# Tester-specific Settings
*.tcCFGExtender
*.tcLS

# Type library declarations
*.tlb

# Log files
*.tcLogs

# Backup files
*.bak
models/UiAA-1.0-36B.gguf
models/UiAA-1.0-36B.gguf
models/templates/
models/UiAA-1.0-36B.gguf
models/templates/
